MONGO_URL="mongodb://127.0.0.1:27017"
DB_NAME="adcore"
CORS_ORIGINS="https://marcopanel.site"
APP_URL="https://marcopanel.site"
ADMIN_USER="admin"
ADMIN_PASSWORD="BURAYA_GUCLU_BIR_SIFRE"
CLOUDFLARE_API_TOKEN="BURAYA_CLOUDFLARE_TOKEN"
